.card {
    width: 94%;
    height: fit-content;
    /* padding: 5px 25px; */
    background-color: inherit;

}

table {
    background-color: inherit;
    width: 100%;
    /* border: 1px solid lemonchiffon; */
}

mat-paginator {
    background-color: inherit;
}


.mat-form-field {
    font-size: 14px;
    width: 100px;
}

a {
    text-decoration: none;
    /* font-size: medium; */
    color: #f0f6fc;
    /* font-weight: bold; */
}

td, th {
    font-size: small;
    color: #636c77;
    width: 100px!important;
    /* text-align: end!important; */
    border-bottom: #161b22c2;
    /* border: 1px solid salmon; */
}

td {
    color: #f0f6fcf1;

}

#right {
    text-align: end!important;
}
