<div class="symbolBar">

    <table>

        <tr>
            <th class="bigText" rowspan="2" colspan="2">{{ data.ticker24h?.symbol }} {{ data.ticker24h?.lastPrice }}</th>
            <!-- <th class="bigText" rowspan="2"></th> -->
            <th>24h Change</th>
            <th>24h Open</th>
            <th>24h High</th>
            <th>24h Low</th> 
            <th>24h Volume(BASE)</th>
            <th>24h Volume(QUOTE)</th>
        </tr>
        <tr>
            <td [class]="data.ticker24h?.priceChange > 0 ? 'green' : 'red'">
                {{ data.ticker24h?.priceChange | number }} {{ data.ticker24h?.priceChangePercent | number }}%
            </td>
            <td>{{ data.ticker24h?.openPrice | number }}</td>
            <td>{{ data.ticker24h?.highPrice | number }}</td>
            <td>{{ data.ticker24h?.lowPrice | number }}</td>
            <td>{{ data.ticker24h?.volume | number }}</td>
            <td>{{ data.ticker24h?.quoteVolume | number }}</td>
        </tr>
    
    </table>
    
</div>
