<div class="symbolBar">

    <table>

        <tr>
            <th class="bigText" rowspan="2" colspan="2">
                {{ data.currentTicker24h?.symbol }} 
                <span [class]="data.currentTicker24h?.priceChange > 0 ? 'green' : 'red'">
                    {{ data.currentTicker24h?.lastPrice }}
                </span>
            </th>
            <!-- <th class="bigText" rowspan="2"></th> -->
            <th>24h Change</th>
            <th>24h Open</th>
            <th>24h High</th>
            <th>24h Low</th> 
            <th>24h Volume(BASE)</th>
            <th>24h Volume(QUOTE)</th>
        </tr>
        <tr>
            <td [class]="data.currentTicker24h?.priceChange > 0 ? 'green' : 'red'">
                {{ data.currentTicker24h?.priceChange | number }} {{ data.currentTicker24h?.priceChangePercent | number }}%
            </td>
            <td>{{ data.currentTicker24h?.openPrice | number }}</td>
            <td>{{ data.currentTicker24h?.highPrice | number }}</td>
            <td>{{ data.currentTicker24h?.lowPrice | number }}</td>
            <td>{{ data.currentTicker24h?.volume | number }}</td>
            <td>{{ data.currentTicker24h?.quoteVolume | number }}</td>
        </tr>
    
    </table>
    
</div>
