th, td {
    text-align: left;
    min-width: fit-content;
    padding-right: 15px;
}

th {
    color: #636c77;
}

td {
    color: #f0f6fc;
    text-align: start;
    font-size: small;
}

.symbolBar {
    background-color: rgb(1, 4, 9);
    font-size: x-small;
    padding: 5px 10px 0px 10px;
}

.bigText {
    color: #f0f6fc;
    font-size: x-large;
    text-align: left;
}

#quoteAsset {
    font-size: medium;
    margin-right: 15px;
}

#baseAsset {


}