<div class="symbolBar">
    <table>
        <tr>
            <th class="bigText" rowspan="2" colspan="2">
                {{ ticker24h.symbol }} 
                <span [class]="+ticker24h.priceChange > 0 ? 'green' : 'red'">
                    {{ ticker24h.lastPrice }}
                </span>
            </th>
            <th>24h Change</th>
            <th>24h Open</th>
            <th>24h High</th>
            <th>24h Low</th> 
            <th>24h Volume(BASE)</th>
            <th>24h Volume(QUOTE)</th>
        </tr>
        <tr>
            <td [class]="+ticker24h.priceChange > 0 ? 'green' : 'red'">
                {{ ticker24h.priceChange | number }} {{ ticker24h.priceChangePercent | number }}%
            </td>
            <td>{{ ticker24h.openPrice | number }}</td>
            <td>{{ ticker24h.highPrice | number }}</td>
            <td>{{ ticker24h.lowPrice | number }}</td>
            <td>{{ ticker24h.volume | number }}</td>
            <td>{{ ticker24h.quoteVolume | number }}</td>
        </tr>
    </table>
</div>
