ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161b22;
    /* border-bottom: 1px solid white; */

}

li {
    float: left;
    width: 150px;
}

li a {
    display: block;
    color: #f0f6fc;
    text-align: center;
    padding: 10px 12px 14px 12px;
    text-decoration: none;
    font-family: monospace;
    font-size: medium;
    font-weight:900;
    border-top: 3px solid #161b22;
}

.active {
    background-color: rgb(1, 4, 9);
    border-top: 3px solid rgb(247, 105, 89)!important;
}