.tooltip {
    color: #636c77;
    background-color: none;
    font-size: medium;
    top: 68px;
    margin-left: 10px;
    width: fit-content;
    position: relative;
    z-index: 100;
}


#volume {
    top: 468px;
}