/* You can add global styles to this file, and also import other style files */
body {
    color: #f0f6fc;
    background-color: #010409;
    margin: 0px;
    font-family: monospace!important;
}

.red {
    color: #E81123!important;
}

.green {
    color: #107C10!important;
}