/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
body {
    color: #f0f6fc;
    background-color: #010409;
    margin: 0px;
}

.red {
    color: #e81123f1!important;
}

.green {
    color: #107C10f1!important;
}