<div class="tooltip">
	{{ candlestick.openTime | date:'YYYY/MM/dd, HH:mm'}}
	O: <span [class]="isBullish() ? 'green' : 'red'"> {{ candlestick.open }} </span> 
	H: <span [class]="isBullish() ? 'green' : 'red'"> {{ candlestick.high }} </span> 
	L: <span [class]="isBullish() ? 'green' : 'red'"> {{ candlestick.low }} </span> 
	C: <span [class]="isBullish() ? 'green' : 'red'"> {{ candlestick.close }} </span> 
	
	CHANGE:
	<span [class]="isBullish() ? 'green' : 'red'"> 
		{{ ( (+candlestick.close - +candlestick.open) / +candlestick.open ) * 100 | number:'0.2-2'}}%
	</span> 

	AMPLITUDE:
	<span [class]="isBullish() ? 'green' : 'red'">
		{{ ( (+candlestick.high - +candlestick.low) / +candlestick.low) * 100  | number:'0.2-2'}}%
	</span> 

</div>


<div id="volume" class="tooltip">
	Vol(BASE): <span [class]="isBullish() ? 'green' : 'red'"> {{ candlestick.volume | number }} </span> 
	Vol(QUOTE): <span [class]="isBullish() ? 'green' : 'red'"> {{ candlestick.quoteAssetVolume | number}} </span> 
	Trades: <span [class]="isBullish() ? 'green' : 'red'"> {{ candlestick.trades }} </span> 
</div>